<!-- templates/map.html -->
{% extends "base_map.html" %}

{% block dynamicMap %}
    <script>
        // Initialize the map
        var map = L.map('dynamicMap').setView([20, 0], 2);

        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png').addTo(map);

        // Get the dynamically passed GeoJSON data (this is rendered by Flask)
        var geojsonData = {{ geojson_data | tojson }};
        
        // Add the GeoJSON data to the map
        L.geoJSON(geojsonData).addTo(map);

        // Optionally, fit the bounds to the GeoJSON layer
        var geoJsonLayer = L.geoJSON(geojsonData);
        var bounds = geoJsonLayer.getBounds();
        map.fitBounds(bounds);
    </script>
{% endblock %}
